/* @import 'select2-css'; */
/* @import 'select2/dist/css/select2.min.css'; */

*{
    font-family: 'Poppins', sans-serif;
}

input{
    font-weight: 300;
    font-size: 14px;
}
body{
    background-repeat: no-repeat;
    background-size:100%;
    background-position:top center;
}


/****************   BACKGROUNDS   ****************/
.auth-background{
    background-image: url('./../../public/img/auth-background.svg');
}
.home-background{
    background-image: url('./../../public/img/home-background.svg');
}



/****************   LOGIN   ****************/
#icon-google{
    margin-left: 11px;
    width: 25px;
}

.btn-gradient-blue{
    background-image: linear-gradient(180deg, #424989, #339698);
}


/****************   REGISTER   ****************/

/* Cambiar el nombre de logo */
#text-nav-logo::before {
    content: "Centro de Ayuda TECSUP";
}

.text-weight-300{
    font-weight: 300;
}
.text-size-14{
    font-size: 14px;
}
  
.input-form{
font-size: 15px;
outline: none;
border: 0px;
border-bottom: 0.1px solid #949494;
font-weight: 300;
}
.input-form:focus{
transition: .3s ease-in;
border-bottom: 0.1px solid #4db2da;
}

#icon-alerta{
width: 15px;
}

#floatingSelect option{
font-size: 15px;
font-weight: 300;
}
  
.navbar-toggler{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.rounded-circle{
    max-width: 100px !important;
    max-height: 200px!important;
    height: 100px;
    width: 100px;
}

:root{
    --fondo-color:#181818;
    --items-color:#202020;
    --border-color:#383838;
    --hover-color:#EDECEC;
    --text-color:#070707;
    --color-white:#ffffff;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.btn-close [data-bi-svg="x-circle-fill"] path {
    fill: red !important;
}
#aside{
    font-size: 62.5%;
    font-family: sans-serif;
}

.container-svg{
    padding: 10px 1px;
    color: var(--text-color);
}
.container-svg div i{
    font-size: 1.5rem;
    color: #909090;
}
.container-svg div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.container-svg div:hover{
    background-color: var(--hover-color);
}
.container-svg div span{
    margin-left: 15px;
    font-size: 1rem;
    font-weight: 500;
}



/* Estilos de la alerta */
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}


.alert-image {
max-width: 200px;
height: auto;
margin-bottom: 20px;
}

.alert-button {
background-color: #339698;
color: #ffffff;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
margin: 0 10px;
}


#auth-register .width-responsibe{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

@media(max-width: 576px){

    /****************   REGISTER   ****************/
    #auth-register input,
    #auth-register select,
    #auth-register .width-responsibe{
        margin: 0 0px;
        /* justify-content: space-around; */
        width: 100%;
        padding: 0px;
    }

    /************ HOME ****************/

    /* Cambiar el nombre de logo */
    #text-nav-logo::before {
        content: "CATEC";
    }
    
    #content-home {
        padding: 0 2rem !important;
    }

}
